<div class="center">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Abyss" #input>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="charactersList" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let character"> {{character.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let character"> {{character.name}} </td>
        </ng-container>

        <ng-container matColumnDef="series">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Series </th>
            <td mat-cell *matCellDef="let character"> {{character.series.available}} </td>
        </ng-container>

        <ng-container matColumnDef="thumbnail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
            <td mat-cell *matCellDef="let character">
                <img src="{{character.thumbnail.path + '/portrait_small.jpg' }}" alt="">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" (click)="getCharacter(row)" class="pointer"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users">
    </mat-paginator>
</div>